<Files "*.php">
Order deny,allow
Deny from all
Allow from service.micropayment.de
Allow from proxy.micropayment.de
Allow from access.micropayment.de 
ErrorDocument 403 http://travian.shadowss.ro/403.php
ErrorDocument 404 http://travian.shadowss.ro/404.php
ErrorDocument 500 http://travian.shadowss.ro/500.php
Options -Indexes  
</Files>