# Windows image file caches
Thumbs.db

# ignore install folder with update ( i think not sure )
# Fannybaws note - I am sure, it should not be ignored :)
# /install/*

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
