@CHARSET "UTF-8";

.wrapper {background: transparent url(../images/header_background.jpg) repeat-x left top;}

div#footer {background: #F1F1F1 url(../images/footer_background.gif) repeat-x center top;}

div#footer div#mfoot {background: transparent url(../images/footer_logo.gif) no-repeat 0px 21px;}

div#dynamic_header, 
body.mod1 div#dynamic_header, 
body.mod3 div#dynamic_header {background: transparent url(../images/artwork1-ltr.jpg) no-repeat center top;}

body.mod2 div#dynamic_header {background: transparent url(../images/artwork2-ltr.jpg) no-repeat center top;}

div#header {background-image: none;}

div#side_navi {background: transparent url(../images/shadow-a-ltr.png) no-repeat right top; margin-top: 30px;}
div#side_navi a:hover {background: transparent url(../images/menu-bg-ltr.gif) no-repeat left top;}

body.v35 a#n1 img {background-image: url(../images/n1-ltr.gif);}
body.v35 a#n2 img {background-image: url(../images/n2-ltr.gif);}
body.v35 a#n3 img {background-image: url(../images/n3-ltr.gif);}
body.v35 a#n4 img {background-image: url(../images/n4-ltr.gif);}
body.v35 div.i1 {background-image:url(../images/m1-ltr.gif);} /* beide */
body.v35 div.i2 {background-image:url(../images/m2-ltr.gif);} /* IGM */
body.v35 div.i3 {background-image:url(../images/m3-ltr.gif);} /* Report */
body.v35 div.i4 {background-image:url(../images/m4-ltr.gif);} /* none */


div#mtop a#plus {background: transparent url(../images/plus_bg.gif) repeat-x 0 0px; margin-left:135px;}
div#mtop a#plus span.plus_text {
	display: block;
	background: transparent url(../images/plus_start-ltr.gif) no-repeat left top;
	height: 29px;
	padding: 6px 14px;
	float:left;
	cursor: pointer;
}
div#mtop a#plus span span {display: inline; cursor: pointer;}
div#mtop a#plus {display: block; font-size: 13px; height: 40px; margin-top:16px; position: relative;}
img#btn_plus {
	background-position: left top;
	background-repeat: no-repeat;
	height: 29px;
	width: 36px;
	float:left;
}
#plus img.active {background-image: url(../images/plus_active-ltr.gif);}
#plus img.inactive {background-image: url(../images/plus_inactive-ltr.gif);}



div#side_info,
body.mod1 div#side_info,
body.mod2 div#side_info,
body.mod3 div#side_info {background: transparent url(../images/shadow-b-ltr.png) no-repeat left top;}


